.parrot-app {
    position: relative;
    z-index: 10000;
}
.toggle-button {
    position: fixed;
    right: 0;
    bottom: 300px;
    width: 100px;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.toggle-button.hidden {
    transform: translateX(100%);
}
.sidebar {
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    background-color: grey;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}
.sidebar.hidden {
    transform: translateX(100%);
}
.close-button {
    margin: 10px;
}
